.overview
{
	padding: 60px 0;

	@media (max-width: 979px) {
		padding: 10px 0;
	}

	.image-preview
	{
		@media (max-width: 979px) {
			text-align: center;
		}

		@media (max-width: 480px) {
			img
			{
				width: 100%;
			}
		}
	}

	p,
	.features
	{
		color: #5a5969;
	}
	
	p
	{
		margin-top: 40px;
	}

	.features
	{
		list-style-image: url(../img/check.png);
		margin-top: 20px;
	}

	.features li
	{
		margin-bottom: 10px;
	}
}