footer
{
	color: #868e9a;
	height: 100px;
	padding-top: 50px;
	text-align: center;

	ul
	{
		display: inline;
		list-style: none;
		padding-left: 10px;
	}

	ul > li
	{
		display: inline;
	}

	ul > li:before
	{
		content: '\2022';
		padding: 0 5px;
	}

	ul > li:first-child:before
	{
		content: normal;
	}

	a
	{
		color: #868e9a;
	}
}