header
{
	height: 100px;
	line-height: 100px;
	padding: 0 40px;

	#logo
	{
		vertical-align: middle;
	}

	.header-actions
	{
		color: #d1d2e1;
		float: right;
		font-family: 'Proxima Nova Bold';

		a
		{
			color: #5e6079;
			letter-spacing: 1px;
			margin: 0 10px;
			text-transform: uppercase;
		}
	}
}